// main: ./daggerheart.less
.daggerheart.sheet.characterSheet {
    //font-color: #ffd700;

    //this is the class for the main sheet
    .fullsheet{
        background-image: url(assets/img/background.png);
        border-radius: 15px;
        height: 525px;
        margin: 1px;
        width: 990px;
    }
    .logoimage{
        width: 106px;       
    }
}