// main: ./daggerheart.less
.application{
    background: rgba(54, 69, 79, 0.2);
    --header-height: 15px;

    .window-content {
        padding: 0px;
    }
    .window-header {
        background: rgba(54, 69, 79, 0.2);
        //height: 10px;
    }
}

.daggerheart.sheet.characterSheet {
    //font-color: #ffd700;

    //this is the class for the main sheet
    .fullsheet{
        background-image: url(assets/img/background.png);
        border-radius: 15px;
        height: 525px;
        margin: 1px;
        width: 860px;
    }
    //hier die Beschreibung der Würfelboxen
    img.dhattribute{
        width: 68px;
        margin-left: 13px;
        margin-right: 13px;
    }
    .rollbox{
        display:inline-block;
        margin-right: 20px;
        position: relative;
        text-align: center; 
        vertical-align: top;
        width: 94px;
    }
    .attributename{
        background-color: rgba(54, 69, 79, 0.8);
        border: 1px;
        border-color: #ffd700;
        border-radius: 10px;
        color: rgba(255, 215, 0, 0.5); 
        height: 20px;
        padding-bottom: -2px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: -2px;
        position: absolute;
        text-align: center;
        top: -3px; 
        width: 94px;
    }
    .buzzwords{
        color: rgba(255, 215, 0, 0.5);
        text-align: center;
        width: 94px;
    }
    .attributeinput{
        background-color: rgba(54, 69, 79, 0.0);
        border: 0px;
        border-color: rgba(255, 215, 0, 0.0);
        color: rgba(255, 215, 0, 0.5); 
        font-size: 125%;
        margin: 0px;
        margin-left: 37px;
        margin-right: 37px;
        padding: 0px;
        position: absolute; 
        text-align: center;
        left: 0px;
        top: 18px;
        width: 20px;
    } 
    //Ende Würfelbox
    .logoimage{
        width: 106px;       
    }
    .rollboxes{
        background-color: rgba(54, 69, 79, 0.5);
        border: 1px;
        border-color: #ffd700;
        border-radius: 15px;
        color: rgba(255, 215, 0, 0.5); 
        margin: 10px;
        padding: 10px;
    }
    .pcImage{
        height: 162px;
        border-radius: 5px;
        width: 100px;
    }
    .outerImagebox{
        background-color: rgba(54, 69, 79, 0.5);
        border: 1px;
        border-color: #ffd700;
        border-radius: 15px;
        display:inline-block;
        margin-left: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    .imageNamebox{
        background-color: rgba(54, 69, 79, 0.0);
        color: rgba(255, 215, 0, 0.5); 
        height: 20px;
        padding-top: 5px;
        text-align: center; 
        width: 100px;
    }
    .outerExperiencebox{
        background-color: rgba(54, 69, 79, 0.5);
        border: 1px;
        border-color: #ffd700;
        border-radius: 15px;
        display:inline-block;
        height: 203px;
        margin-left: 5px;
        padding: 10px;
        vertical-align: top;
        width: 180px;
    }
    .headlinebox{
        background-color: rgba(54, 69, 79, 0.8);
        border: 1px;
        border-color: #ffd700;
        border-radius: 10px;
        color: rgba(255, 215, 0, 0.5); 
        height: 20px;
        margin-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 2px;
        text-align: center;
        width: 160px;
    }
    .experienceBox{
        background-color: rgba(54, 69, 79, 0.0);
        color: rgba(255, 215, 0, 0.5); 
        display:inline-block;
        height: 20px;
        overflow-wrap: break-word;
        padding: 3px;
        text-align: left; 
        width: 120px;
    }
    .experienceBox.decayed{
        color: rgba(255, 215, 0, 0.2); 
    }
    .bonusBox{
        background-color: rgba(54, 69, 79, 0.0);
        color: rgba(255, 215, 0, 0.5); 
        display:inline-block;
        height: 20px;
        padding: 3px;
        text-align: center; 
        width: 30px;
    }
    .bonusBox.decayed{
        color: rgba(255, 215, 0, 0.2); 
    }
    .outerResourcebox{
        background-color: rgba(54, 69, 79, 0.5);
        border: 1px;
        border-color: #ffd700;
        border-radius: 15px;
        color: rgba(255, 215, 0, 0.5); 
        display:inline-block;
        margin-left: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
}