// main: ./daggerheart.less
.daggerheart.sheet.characterSheet {

    //this is the class for the main sheet
    .sheet{
        width: 580px;
        height: 580px;
    };
    //this is the class for the second sheet
    .sheet2{
        width: 480px;
        height: 480px;
    };

}