.daggerheart.sheet.characterSheet .sheet {
  width: 580px;
  height: 580px;
}
.daggerheart.sheet.characterSheet .sheet2 {
  width: 480px;
  height: 480px;
}
.daggerheart.sheet.characterSheet .logoimage {
  width: 106px;
}
