<div class="fulldialog">
    <div class="form-group">
        <label>Hope Placeholder i18n</label>
        <input type="text" name="hopedie" value="d12" />
    </div>
    <div class="form-group">
        <label>Hope Placeholder i18n</label>
        <input type="text" name="feardie" value="d12" />
    </div>
</div>