<div class="headerbox">

    <div class="logobox">
        <div class="logoimage">
            <img src="systems/daggerheart/assets/img/dh_logo_fullcolor.png" alt="{{localize DAGGERHEART.logotext}}" class="dhlogo"/>
        </div>
    </div>
    <div class="rollboxes">
        <div class="rollbox agility">AGI</div>
        <div class="rollbox strength">STR</div>
        <div class="rollbox finesse">FIN</div>
        <div class="rollbox instinct">INS</div>
        <div class="rollbox presence">PRE</div>
        <div class="rollbox knowledge">KNO</div>
    </div>
    <div class="hopeboxes">
        {{localize DAGGERHEART.sthwithhope}}
    </div> 
</div>